apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: denish952/voting-app-worker:v2
        envFrom:
        - configMapRef:
            name: voting-config
        - secretRef:
            name: voting-secret
